#toast-container {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  font-family: 'Microsoft YaHei';
}
